@import "bootstrap-sprockets";
@import "bootstrap";


body {
padding-top: 0px;
background: #f0f0f0;
}
.header_top {
  background-color: skyblue; 
  opacity: 0.5;
  text-align: center;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
}
#product_content {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
  color: gray;
  text-decoration: none;
  }
}

.navbar-brand {
 a {
   &:hover {
     text-decoration: none;
   }
  }
}


/* footer */
footer {
margin-top: 60px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-right: 10px;
}

@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.jumbotron {
  margin-top: 100px;
  padding: 100px 10px;
  
}